# ejercicos Python 2

In [1]:
#1. Ejercicio: Indentación correcta
if 5 > 3:
    print("El número 5 es mayor que 3")

El número 5 es mayor que 3

In [2]:
#2. Ejercicio: Asignación de variables
x= 10
print(x)

10

In [6]:
#3. Ejercicio: Comparación de números
a= 7
b= 5
if a > b:
    print (" a es mayor que b ")
    if a < b:
        print ( ' a es menor que b ')

 a es mayor que b

In [8]:
#4. Ejercicio: Concatenación de cadenas
nombre= ["juan"]
apellido= ["perez"]
nombre_completo = nombre + apellido
print(nombre_completo)

['juan', 'perez']

In [ ]:
# 5. Ejercicio: Comentarios
x=5
#Estoy dandole un valor a la variable x

In [16]:
#6. Ejercicio: Uso de if
a = 7
b = 5
if a == b:
    print ("los numeros son iguales")
else:
    print ("los numeros no son iguales")

los numeros no son iguales

In [19]:
#7. Ejercicio: Bucles for
for x in range (1,6):
    print (x)

1
2
3
4
5

In [30]:
#Ejercicio: Uso de while  
num = 1
while num <= 5:
    print(num)
    num += 1
#El incremento lo pongo después del print para q no me cuente hasta 6. (Escribe el 1 y luego ya mpieza a hacer 1+1, 2+1, 3+1, 4+1)

1
2
3
4
5

In [ ]:
#9. Ejercicio: Función simple
def saludo (nombre)
    return (f"Hola{nombre}")
saludo (Olimpia)

In [4]:
#10. Ejercicio: Tipos de datos
Edad = 25
Nombre = 'Carlos'
print (type (Edad))
print (type (Nombre))

<class 'int'>
<class 'str'>

In [10]:
# 11. Ejercicio: Listas
frutas= ['manzana', 'platano', 'cerezas']
print (frutas[0])
print (frutas[-1])

manzana
cerezas

In [11]:
#12. Ejercicio: Operadores aritméticos
x= 8
y= 4
print (x + y)
print (x - y)
print (x * y)
print (x/y)

12
4
32
2.0

In [12]:
#13. Ejercicio: Manejo de excepciones
try:
    resultado = 10 / 0
except ZeroDivisionError:
    print("No se puede dividir entre cero.")

No se puede dividir entre cero.

In [15]:
#14. Ejercicio: Tuplas
colores= ('Blanco', 'rojo', 'amarillo', 'azul')
print (colores[1])

rojo

In [16]:
#15. Ejercicio: Diccionarios
Persona = {'Nombre': 'Olimpia', 'Apellido': 'Machado', 'Edad': 22}
print (Persona['Nombre'])

Olimpia

In [21]:
#16. Ejercicio: Modificar listas
Numeros = [1, 2, 3]
Numeros.append( 4)
print (Numeros)

[1, 2, 3, 4]

In [23]:
#17. Ejercicio: Uso de range
for x in range (2,11,2):
    print (x)

2
4
6
8
10

In [25]:
#18. Ejercicio: Uso de input
Nombre= input("¿Cómo te llamas?")
print (f'Hola, {Nombre}')

¿Cómo te llamas? Olimpia

Hola, Olimpia

In [28]:
#19. Ejercicio: Función con valor de retorno
def multiplicar (a,b):
    return a * b
resultado= multiplicar (4,5)
print(resultado)

20

In [29]:
#20. Comprobación de tipo de datos
x = 10
if isinstance(x, int):
    print("Es entero")
else:
    print("No es entero")

Es entero