# Curso python
### Comentarios
**Texto en negrita**
*Texto en cursiva*
- Item 1
- Item 2

In [1]:
print ("Hola")

Hola

In [2]:
variable1= "Hola"
print (variable1)

Hola

In [3]:
var1= "Hola mundo"
var2= var1
print (var2)

Hola mundo

In [4]:
a=5
b=10
print (a+b)

15

In [8]:
Nombre= "Olimpia"
Apellido= "Machado"
print (Nombre + " " + Apellido)

Olimpia Machado

In [9]:
nombre= input ("¿Cómo te llamas?")
print (f"me llamo {nombre}")

¿Cómo te llamas? Olimpia

me llamo Olimpia

In [11]:
a= 5
b= 15
r1= a + b
r2= a * b
r3= b - a
r4= b/a
print (r1, r2, r3, r4)

20 75 10 3.0

In [13]:
lista= [1,2,3,4]
print (lista)
#Para hacer un comentario

[1, 2, 3, 4]

In [17]:
dia_semana = ["lun", "mar", "mie", "jue", "vie", "sab", "dom"]
print (dia_semana[2])
#La lista empieza a contar desde el 0

mie

In [18]:
print(dia_semana[-1])

dom

In [19]:
print ('Este es un texto con "comillas simples"')

Este es un texto con "comillas simples"

In [20]:
dia_semana[0]= "dom"
print (dia_semana)

['dom', 'mar', 'mie', 'jue', 'vie', 'sab', 'dom']

In [21]:
dia_semana.append ('otro')
print (dia_semana)

['dom', 'mar', 'mie', 'jue', 'vie', 'sab', 'dom', 'otro']

In [22]:
dia_semana.insert (0, 'primero')
print (dia_semana)

['primero', 'dom', 'mar', 'mie', 'jue', 'vie', 'sab', 'dom', 'otro']

In [23]:
dia_semana.sort ()
print (dia_semana)

['dom', 'dom', 'jue', 'mar', 'mie', 'otro', 'primero', 'sab', 'vie']

# Ejercicios python principiante

In [25]:
#1. Ejercicio: Asignación simple
numero= 20
print (numero)

20

In [29]:
#2. Ejercicio: Sumar dos números
n1= 1
n2= 2
print (n1+n2)

3

In [30]:
#3. Ejercicio: Concatenar cadenas
nombre = "pedro"
apellido = "gómez"
print (nombre + ' ' + apellido)

pedro gómez

In [32]:
#4. Ejercicio: Uso de input
años= input ("¿Cuantos años tienes?")
print (f"tengo {años} años")

¿Cuantos años tienes? 22

tengo 22 años

In [33]:
#5. Ejercicio: Multiplicación
x= 5
y= 9
print (5 * 9)

45

In [34]:
# 6. Ejercicio: Lista de números
Lista= [1, 2, 3, 4, 5]
print (Lista)

[1, 2, 3, 4, 5]

In [41]:
#7. Ejercicio: Bucle for
for i in range(1, 4):
    print(i)

1
2
3

In [42]:
#8. Ejercicio: Sumar elementos de una lista
valores= [10, 20, 30]
suma= sum(valores)
print (suma)

60

In [43]:
#9. Ejercicio: Comparar dos números
a=2
b=3
resultado = a < b
print (resultado)

True

In [45]:
# 10. Dividir dos números
x=8
y=4
print (x/y)

2.0

In [46]:
# 11. Ejercicio: Crear un diccionario
persona = { 'nombre': 'Juan', 'edad': 30 }

print(persona)

{'nombre': 'Juan', 'edad': 30}

In [47]:
#12. Ejercicio: Acceder a un valor en un diccionario
print(persona["nombre"])

Juan

In [50]:
#13. Ejercicio: Imprimir un rango de números
for x in range(6):
    print(x)

0
1
2
3
4
5